@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

/* General configuration --------------------------------------------------- */
:root {
    /* COLORS */
    --bg: #282828;
    --bg-darker: #1d2021;
    --fg: #ebdbb2;
    --gray: #928374;
	--gray-light: #a89984;
    --red: #cc241d;
    --red-light: #fb4934;
    --green: #98971a;
    --green-light: #b8bb26;
    --yellow: #d79921;
    --yellow-light: #fabd2f;
    --blue: #458588;
	--blue-light: #83a598;
	--purple: #b16286;
    --purple-light: #d3869b;
	--aqua: #689d6a;
    --aqua-light: #8ec07c;
	--orange: #d65d0e;
    --orange-light: #fe8019;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Code", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: .9em;
}


a {
    text-decoration: none;
}

hr {
    width: 72%;
    border: 1px solid var(--gray);
    border-radius: 4px;
}
/* ------------------------------------------------------------------------- */

/* Main screen ------------------------------------------------------------- */
.main {
    background-size: cover;
    background-color: var(--bg);
    height: 100vh;
    padding: 5% 14%;
}

.main_content {
    background-color: var(--bg-darker);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal_info {
    width: 100%;
    padding: 1em;
    text-align: center;
}

.photo_perfil {
    width: 100px;
    height 100px;
    margin-bottom: 14px;
    border: 4px solid var(--green-light);
    border-radius: 50%;
	box-shadow: 0px 0px 25px 3px rgba(0,0,0,1);
}

.personal_info h1 {
    color: var(--red-light);
}

.personal_info h2 {
    color: var(--fg);
}

.socials {
    margin-top: 14px;
}

.social_img {
    height: 22px;
    margin: 0 .2em;
    transition: 0.4s;
}

.social_img:hover {
    transform: scale(1.2);
}

.portafolio_content {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.portafolio_content h1 {
    color: var(--red-light);
}

.list_content {
    padding-left: 3em;
}

.list_content li {
    color: var(--fg);
    margin: .2em 0;
}

.list_content li a{
    color: var(--fg);
}

.list_content li a:hover {
    background-color: var(--green);
    color: var(--bg);
    font-style: italic;
    font-weight: bold;
}
/* ------------------------------------------------------------------------- */

/* About me ---------------------------------------------------------------- */
.about_me {
    background-size: cover;
    background-color: var(--bg);
    height: 100vh;
    padding: 5% 14%;
}

.about_content {
    background-color: var(--bg-darker);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.about_content h1 {
    text-align: left;
    width: 100%;
    padding-bottom: .5em;
    color: var(--red-light);
}

.about_content p {
    text-align: justify;
    padding: .5em 0;
    color: var(--fg);
}

.about_content p a{
    color: var(--blue);
}

.about_content p a:hover{
    color: var(--aqua-light);
    text-decoration: underline;
}
/* ------------------------------------------------------------------------- */

/* My projects ------------------------------------------------------------- */
.my_projects {
    background-size: cover;
    background-color: var(--bg);
    height: 100vh;
    padding: 5% 14%;
}

.projects_content {
    background-color: var(--bg-darker);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.projects_content h1{
    text-align: left;
    width: 100%;
    color: var(--red-light);
    margin-bottom: 1em;
}

.projects_content .project_list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 1em;
    overflow: auto;
    scrollbar-width: none;
}

@media (width < 750px) {
    .projects_content .project_list{
        grid-template-columns: repeat(1, minmax(auto, 1fr));
    }
}

.project_card {
    border: 2px solid var(--fg);
    border-radius: 2px;
    padding: .6em;
}

.project_card .project_name {
    display: flex;
}

.project_card .project_name img {
    height: 22PX;
    margin-left: .4em;
}

.project_card .project_name h3 {
    color: var(--red-light);
}

.project_card p {
    color: var(--fg);
}

.project_card a {
    color: var(--blue);
}

.project_card a:hover {
    color: var(--aqua-light);
    text-decoration: underline;
}
/* ------------------------------------------------------------------------- */

/* Work esperience --------------------------------------------------------- */
.work_experience {
    background-size: cover;
    background-color: var(--bg);
    height: 100vh;
    padding: 5% 14%;
}

.experience_content {
    background-color: var(--bg-darker);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.experience_content h1{
    text-align: left;
    width: 100%;
    color: var(--red-light);
    margin-bottom: 1em;
}

.experience_content .experience_list {
    width: 100%;
    display: grid;
    gap: 1em;
    overflow: auto;
    scrollbar-width: none;
}

.experience_card {
    border: 2px solid var(--fg);
    border-radius: 2px;
    padding: .6em;
}

.experience_card h3 {
    color: var(--red-light);
}

.experience_card h4 {
    color: var(--blue);
}

.experience_card p {
    color: var(--fg);
}
/* ------------------------------------------------------------------------- */

/* Download CV ------------------------------------------------------------- */
.download_cv {
    background-size: cover;
    background-color: var(--bg);
    height: 100vh;
    padding: 5% 14%;
}

.download_content {
    background-color: var(--bg-darker);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.general_button {
    padding: 1em;
    font-weight: bold;
    background-color: var(--bg-darker);
    color: var(--fg);
    border: 2px solid var(--green-light);
    border-radius: 4px;
    transition: .4s;
}

.general_button:hover {
    cursor: pointer;
    transform: scale(1.04);
	box-shadow: 0px 0px 25px 3px rgba(0,0,0,1);
}
/* ------------------------------------------------------------------------- */

/* Footer ------------------------------------------------------------------ */
.footer_content {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_content p {
    width: 72%;
    color: var(--fg);
    margin: .6em 0;
    text-align: center;
}

.footer_content p a{
    color: var(--blue);
}

.footer_content p a:hover{
    color: var(--aqua-light);
    text-decoration: underline;
}
/* ------------------------------------------------------------------------- */
